{% extends 'layout.html' %}
{% block content %}
  <h1>Hey {{ current_user.username}}, this is a secure endpoint</h1>
  <div id='mithril-app'></div>
  <script src="https://unpkg.com/mithril/mithril.js"></script>
  <script>
    const root = document.querySelector('#mithril-app')

    m.request({
      method: "GET",
      url: "http://127.0.0.1:5000/user/:username/edit",
      params: {username: "{{current_user.username}}"}
    })
    .then(res => res)
    .then(data => m.render(root, data.username))

  </script>
{% endblock %}